extends ./../../layouts/header.pug
//- title
block title 
    title= title

//- css link
block cssLink
    link(rel="stylesheet", href="/css/confirmation.css")

//- script added 
block jsScript
    script(src="/js/confirmation.js" defer)

block bodyContent
    .confirmation_container
        .confirmation_img 
            img(src="/assets/confirmation.png", alt="")
        .text-center.my-4.congrats_text
            h3 Congratulations!
        .confirmation_header
            p
                | Dear, 
                span #{name}
                |  a confirmation message was sent on your 
                span #{email} 
                | To verify your email address.

        .confirmation_text 
            p  After receiving the email follow the link provided to complete your registration.
            