extends ./../../layouts/header.pug


block title
    title= title 


block cssLink
    link(rel="stylesheet", href="/css/confirmation.min.css")


block bodyContent
    main
        .confirmation_section
            .confirmation_image 
                img(src="/assets/successfully_img.png", alt="")

            .confirmation-inner.mx-auto.my-5.text-center.fw-bold 
                h3 Congratulation !!

            .px-4.text-center.confirmation-heading 
                h5 A confirmation email was sent successfully

            .w-10.text-center.confirmation-text
                p
                    |We have sent email to 
                    a #{email} 
                     | to verify your email address. After receiving the email follow the link provided to complete your registration.