extends ./../../layouts/header.pug


block title
    title= title 



block cssLink
    link(rel="stylesheet", href="/css/resetPassword.min.css")



block jsScript
    script(src="/js/resetPassword.js" defer) 



block bodyContent
        .signin-section
            .wrapper
                .signin-wrapper
                    div.social-icon
                        i.fab.fa-twitter

                    h2 Sign in to Twitter Clone

                    form(action='/resetPassword', method="post")

                        label(for="userName") User Name or Email
                        
                        .user-input 
                            i.user-icon.fas.fa-user
                            input#userName(type="text", name="userName"  class="form-control", value= user.userName)
                        
                        if error.userName
                            p.error.userName-error #{error.userName.msg}

                        input(type="submit", value="Reset Now" class="form-control signin-btn")

                        .footer-link.disclaimer  
                            p.disclaim Need to sign in? 
                                a(href='/signin') sign in here