extends ./../../layouts/header.pug
//- title
block title 
    title= title

//- css link
block cssLink
    link(rel="stylesheet", href="/css/resetPassword.css")

//- script added 
block jsScript
    script(src="/js/resetPassword.js" defer)

block bodyContent
    .signInContainer
        .wrapper
            .loginWrapper
                .social_icon
                    i.fab.fa-twitter.text-secondary
                
                h2.text-secondary Reset Your Password
                //- form 
                form(action="/resetpassword", method="post" )
                    label(for="username") Username Or Email

                    .name_field
                        i.user_icon.fas.fa-lock.text-secondary
                        input#username(type="text", name="username" class="form-control" required='' value=user.username?user.username : '')
                    if error.username
                        p.error.username-error #{error.username.msg}
                        
  
                    //-submit button 
                    input(type="submit", value="Reset Now" class="form-control login_btn bg-secondary")

                //- text 
                p.disclaim Need to login? 
                    a(href="/login") Log in
                     