.confirmation_section {
  .confirmation_image {
    text-align: center;
  }

  .confirmation-inner {
    h3 {
      color: #178c20;
    }
  }

  .confirmation-heading {
    h5 {
      color: #178c20;
    }
  }

  .confirmation-text {
    p {
      color: #cc5500;
    }
  }
}
