$twitter-color: rgb(29, 155, 240);

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.main {
  max-width: 1255px;
  width: 100%;
  margin: auto;
  height: 100vh;
  .left_part {
    max-width: 275px;
    width: 100%;
    .upper_part {
      height: 548px;
      background: white;
      .logo {
        width: 47px;
        height: 47px;
        margin: 2px 0px 3px 0px;
        border-radius: 50%;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          background: #e8f5fd;
        }
        i {
          font-size: 26.49px;
          color: $twitter-color;
        }
      }
      .nav {
        nav {
          a {
            padding: 14px 10px 14px 10px;
            transition: all 0.2s;
            .notify_no {
              span {
                font-size: 1px !important;
                background-color: $twitter-color;
                padding: 1px 7px 1px 7px;
                margin-left: 0;
                color: white;
              }
              top: 0;
              left: -9px;
            }
            span {
              font-size: 18px;
              margin-left: 18px;
            }
            svg {
              width: 24.5px;
            }
            &:hover {
              background-color: #e7e7e8;
              border-radius: 27px;
            }
          }
        }
      }
      .twitter_btn {
        background-color: #1d9bf0;
        width: 81%;
        text-align: center;
        outline: none;
        margin-bottom: 4px;
        margin-top: 4px;
        padding: 13px 20px 13px 20px;
        transition: all 0.5s;
        &:hover {
          background-color: #1a8cd8;
        }
        a {
          font-size: 14px;
          font-weight: 700;
          color: white;
        }
      }
    }
    .lower_part {
      .logout_add_account {
        width: 300px;
        top: -135px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px #494848;
        // visibility: hidden;
        transition: all 0.2s;
        nav {
          padding-top: 15px;
          a {
            padding: 14px 10px 14px 10px;
            &:hover {
              background-color: #f7f9f9;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }
        }
      }
      .user_info {
        width: 95%;
        padding: 10px 15px 10px 15px;
        margin: -13px 0px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
          background-color: #e7e7e8;
        }
      }
      height: 58px;
      .info {
        padding-left: 10px;
        h4 {
          font-size: 15px;
        }
        span {
          font-size: 10px;
          color: #75828d;
        }
      }
      .avatar {
        img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
      }
      .ellips {
        width: 15px;
      }
    }
  }
  .main-content {
    max-width: 990px;
    width: 100%;
    .center_part {
      max-width: 598px;
      width: 100%;
      // background: orange;
      .post_tweet_area {
        padding: 0 10px;
        .heading_area {
          padding: 14px 0;
          h4 {
            font-size: 18px;
          }
          bottom {
            background: none;
            outline: none;
          }
        }
        .create_post {
          img {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            margin: 0px 20px 0px 0px;
          }
          .post_area {
            textarea {
              outline: none;
              resize: none;
              font-size: 20px;
              &::placeholder {
                font-size: 20px;
              }
            }
          }
          .action {
            padding: 10px 0px;
          }
          .createTweetBtn {
            background-color: #8ecdf8;
            padding: 10px 20px;
            border: none;
            border-radius: 21px;
            font-weight: 700;
            color: white;
          }
        }
      }
    }

    .end_part {
      max-width: 350px;
      width: 100%;
      background: green;
    }
  }
}
