$backgroundColor: #ddd;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

#main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

/* left section */
.left_side {
  position: fixed;
  height: 100%;
  flex-basis: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;

  .top_side {
    flex: 1;
    .logo_area {
      height: 50px;
      display: flex;
      align-items: center;
    }

    .logo_area a.logo {
      display: flex;
      text-decoration: none;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.5s;
      margin-left: 10px;

      &:hover {
        background: #141e25;
      }
    }

    .logo_area a.logo i {
      font-size: 28px;
      color: #d6d9db;
    }

    //menu area
    .menu_area {
      nav.nav_area {
        display: flex;
        flex-direction: column;

        a.nav_link {
          margin: 3px 0;
          text-decoration: none;
          display: flex;
          align-items: center;
          width: fit-content;
          padding: 12px 20px;
          cursor: pointer;
          border-radius: 25px;
          transition: 0.5s;
          font-size: 18px;
          font-weight: 400;
          color: #e7e9ea;

          &:hover {
            background: #181818;
            font-weight: 700;
          }

          span {
            padding-right: 10px;
            display: flex;
            align-items: center;
            position: relative;

            .notifications {
              align-items: center;
              position: absolute;
              top: -11px;
              right: 2px;
              background: #1a8cd8;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              color: #ffffff;
              display: flex;
              font-size: 10px;
              justify-content: center;
              padding: 5px;
            }
          }
        }
      }
    }

    .tweet_btn {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 15px 75px;
        border: 0;
        outline: 0;
        background: #1a8cd8;
        border-radius: 25px;
        color: white;
        font-weight: 600;
      }
    }
  }

  //modal
  .modall {
    position: absolute;
    left: 18%;
    top: 71%;
    display: block;

    .modall-content {
      width: 250px;
      padding: 15px 5px;
      background-color: #000000;
      box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
        rgb(255 255 255 / 15%) 0px 0px 3px 1px;
      border-radius: 5px;

      p {
        cursor: pointer;
        color: #dcdedf;
        padding: 5px 20px;
        margin: 15px 0;

        &:hover {
          cursor: pointer;
          background: #16181c;
        }
      }

      a {
        text-decoration: none;
        font-size: 14px;
        color: #dcdedf;

        &:hover {
          cursor: pointer;
          background: #16181c;
        }
      }
    }
  }

  /* bottom side */
  .bottom_side {
    flex-basis: 60px;
    width: 100%;
    position: relatives;

    .userinfo {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5px;
      margin-right: 10px;
      border-radius: 25px;
      height: 56px;
      transition: 0.5s;

      &:hover {
        background: #181818;
      }
      .avatarImg img {
        width: 45px;
        height: 45px;
        border-radius: 50%;

        img {
          width: 100%;
        }
      }

      .userNameInfo {
        padding: 5px 5px;
        cursor: pointer;

        h6 {
          font-size: 15px;
          font-weight: 700;
          color: #e7e9ea;
        }
        p {
          font-size: 15px;
          font-weight: 400;
          padding-bottom: 3px;
          color: #71767b;
        }
      }

      span {
        cursor: pointer;
      }
    }
  }
}

/* middle section */
.middle_side {
  flex: 1;
  height: auto;
  width: 100%;
  margin-left: 250px;
  //top header section
  .top_header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2f3336;
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;
    height: 50px;
    position: fixed;
    z-index: 3;
    width: 600px;
    background: #010507;
    padding: 5px 10px;

    h6 {
      font-weight: 600;
      color: #e7e9ea;
    }

    div#stars {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background: #191919;
      }
    }
  }

  //tweet section
  .tweet_write_section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #2f3336;
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;
    margin-top: 50px;
    z-index: 0;

    .avatar_section img {
      height: 50px;
      flex-basis: 50px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;

      img {
        width: 100%;
      }
    }
  }

  /* text section */
  .text_container {
    flex: 1;

    textarea {
      resize: none;
      border: 0;
      outline: 0;
      height: 57px;
      width: 100%;
      padding-top: 12px;
      background: #000000;
      color: #d6d9db;
    }

    .imgContainer {
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
      width: 100%;
      margin-bottom: 90px;

      .img {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
        }

        span#closeBtn {
          position: absolute;
          top: 6px;
          left: 11px;
          background: #5a5e61;
          color: white;
          height: 30px;
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }

    .tweet_btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #2f3336;
      padding: 12px;

      label {
        cursor: pointer;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.5s;
        &:hover {
          background: #e8f5fe;
        }
      }

      input#imgPost {
        display: none;
      }

      .tweet_submit {
        background: #1a8cd8;
        border: none;
        outline: none;
        padding: 10px 30px;
        border-radius: 25px;
        color: white;
        font-weight: 500;
      }

      .tweet_submit:disabled {
        background: #8ecdf8;
        border: none;
        outline: none;
        padding: 10px 30px;
        border-radius: 25px;
        color: white;
        font-weight: 500;
      }
    }
  }

  //tweet container
  .tweetContainer {
    padding: 5px 10px;
    min-width: 600px;
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;

    .pinPost {
      .pinPostFlag {
        margin-left: 20px;
        color: #71767b;

        i.fas.fa-thumbtack {
          font-size: 20px;
          margin-top: 5px;
          margin-right: 15px;
          color: white;
        }

        span {
          font-size: 18px;
          color: white;
        }
      }
    }

    p.retweetedHtml {
      margin-left: 35px;
      margin-top: 5px;
      color: #6a6f73;
      span {
        color: #6a6f73;

        &:hover {
          text-decoration: underline;
        }
      }

      i.fas.fa-retweet {
        color: #6a6f73;
      }

      a {
        color: #ced0d1;
      }
    }

    .tweet {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      border-bottom: 1px solid #2f3336;
      cursor: pointer;

      .avatar_area {
        .postedImg img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          img {
            width: 100%;
          }
        }
      }

      //tweet body
      .tweet_body {
        width: 100%;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          .headerItems {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a.displayName {
              color: #ced0d1;
              text-decoration: none;
              padding-right: 5px;

              &:hover {
                text-decoration: underline;
              }
            }

            .username {
              padding-right: 10px;
              color: #5e6266;
            }
            .date {
              color: #5e6266;
            }
          }

          div.dropleft {
            .postMore {
              cursor: pointer;
              height: 35px;
              width: 35px;
              color: #5e6266;
              background: transparent;
              transition: 0.5s;
              border-radius: 50%;

              i {
                pointer-events: none;
              }

              &:hover {
                background: #0a1720;
                color: #29a0f0;
              }
            }

            .dropdown-menu.show {
              background-color: #000;
              box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
                rgb(255 255 255 / 15%) 0px 0px 3px 1px;
              border-radius: 5px;

              a.dropdown-item {
                transition: 0.5s;

                &:hover {
                  background: #16181c;
                }

                button.removeBtn {
                  border: 0;
                  outline: 0;
                  background: transparent;
                  color: #dcdedf;

                  i.fas.fa-thumbtack.active {
                    color: #dcdedf;
                  }
                }
              }
            }
          }
        }

        .replyFlag {
          p {
            color: #5e6266;
            a {
              text-decoration: none;
              color: #ced0d1;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        //content
        .content {
          margin: 5px 0px 20px 0px;
          color: #ced0d1;
        }

        .images {
          display: grid;
          grid-template-columns: auto auto;
          width: 100%;
          gap: 10px;
          margin-bottom: 12px;

          .postImg {
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
        }

        //footer
        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0;

          button.replay {
            border: 0;
            outline: 0;
            background: transparent;
            color: #4d5053;
            transition: 0.5s;

            &:hover {
              color: #1a8ad6;
            }

            i {
              pointer-events: none;
            }

            span {
              pointer-events: none;
            }
          }

          button.retweet {
            border: 0;
            outline: 0;
            background: transparent;
            color: #4d5053;
            transition: 0.5s;

            &:hover {
              color: #019866;
            }

            i {
              pointer-events: none;
            }

            span {
              pointer-events: none;
            }
          }

          button.like {
            border: 0;
            outline: 0;
            background: transparent;
            color: #4d5053;
            transition: 0.5s;

            &:hover {
              color: #c21465;
            }

            i {
              pointer-events: none;
            }

            span {
              pointer-events: none;
            }
          }

          //like btn
          button.like.active {
            i {
              color: #c21465;
            }
            span {
              color: #c21465;
            }
          }

          //retweet btn
          button.retweet.active {
            i {
              color: #019866;
            }
            span {
              color: #019866;
            }
          }
        }
      }
    }
  }
}

/* right section */
.right_side {
  flex-basis: 350px;
  width: 100%;
  // background: rgb(79, 80, 79);
}

/* reply modal section */
div#replyModal {
  background: rgba(91, 112, 131, 0.4);

  .modal-dialog {
    .modal-content {
      background: #000;

      .modal-header {
        border-bottom: 2px solid transparent;
        padding: 5px;
        margin-left: 10px;

        button.button-Close {
          border: 0;
          outline: 0;
          background: transparent;
          transition: 0.5s;
          width: 40px;
          height: 40px;
          border-radius: 50%;

          &:hover {
            background: #181818;
          }

          span {
            color: #eff3f4;
            font-size: 30px;
          }
        }
      }

      .modal-body {
        .tweet {
          display: flex;
          cursor: pointer;

          .avatar_area {
            margin-right: 15px;

            .postedImg img {
              height: 50px;
              width: 50px;
              border-radius: 50%;

              img {
                width: 100%;
              }
            }
          }

          .tweet_body {
            width: 100%;
            .header {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .headerItems {
                display: flex;

                a.displayName {
                  color: #eff3f4;

                  &:hover {
                    text-decoration: none;
                  }
                }

                span.username {
                  color: #5e6266;
                  margin-left: 5px;
                }

                .date {
                  color: #5e6266;
                  margin-left: 5px;
                }
              }

              .dropleft {
                display: none;
              }
            }

            .content {
              color: #eff3f4;
              padding-top: 2px;
            }

            .images {
              margin-top: 15px;
              // max-height: 225px;
              display: grid;
              grid-template-columns: auto auto;
              width: 100%;
              gap: 10px;

              .postImg img {
                // width: 390px;
                width: 100%;
                // height: 315px;
                height: 100%;
                border-radius: 5px;

                img {
                  width: 100%;
                  object-fit: cover;
                }
              }
            }

            .footer {
              display: none;
            }
          }
        }
      }

      .modal-footer {
        border-top: 1px solid transparent;

        .createPost {
          display: flex;
          justify-content: space-between;
          padding: 1px;
          width: 100%;

          .replyAvatar img {
            height: 50px;
            flex-basis: 50px;
            overflow: hidden;
            margin-right: 15px;
            border-radius: 50%;

            img {
              width: 100%;
            }
          }

          .postField {
            flex: 1;
            textarea#replyContent {
              width: 100%;
              resize: none;
              background: #000;
              border: 0;
              outline: 0;
              height: 100px;
              color: #d6d9db;
            }

            .replyImgContainer {
              display: grid;
              grid-template-columns: auto auto;
              width: 100%;
              gap: 10px;
              margin-bottom: 40px;

              .img {
                position: relative;

                img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                  border-radius: 10px;
                }
              }

              span#closeBtn {
                position: absolute;
                top: 6px;
                left: 11px;
                background: #5a5e61;
                color: white;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 18px;
                cursor: pointer;
              }
            }

            .replyActions {
              display: flex;
              justify-content: space-between;
              align-items: center;

              label {
                cursor: pointer;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: 0.5s;

                &:hover {
                  background: #031019;
                }
              }

              #replyImg {
                display: none;
              }

              #replyBtn {
                background: #1a8cd8;
                border: none;
                outline: none;
                padding: 10px 30px;
                border-radius: 25px;
                color: white;
                font-weight: 500;
              }

              #replyBtn:disabled {
                background: #8ecdf8;
                border: none;
                outline: none;
                padding: 10px 30px;
                border-radius: 25px;
                color: white;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

/* sweet alert */
.swal2-container.swal2-center.swal2-backdrop-show {
  background: rgba(91, 112, 131, 0.4);

  .swal2-popup.swal2-modal.swal2-icon-warning.swal2-show {
    background: #000;
  }
}
