$twitter-color: rgb(29, 155, 240);

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.main {
  max-width: 1255px;
  width: 100%;
  margin: auto;
  .left_part {
    position: fixed;
    max-width: 275px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    padding: 0px 11px;
    .upper_part {
      height: 548px;
      .logo {
        width: 47px;
        height: 47px;
        margin: 2px 0px 3px 0px;
        border-radius: 50%;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          background: #e8f5fd;
        }
        i {
          font-size: 26.49px;
          color: $twitter-color;
        }
      }
      .nav {
        nav {
          a {
            padding: 14px 10px 14px 10px;
            transition: all 0.2s;
            .notify_no {
              span {
                font-size: 1px !important;
                background-color: $twitter-color;
                padding: 1px 7px 1px 7px;
                margin-left: 0;
                color: white;
              }
              top: 0;
              left: -9px;
            }
            span {
              font-size: 18px;
              margin-left: 18px;
            }
            svg {
              width: 24.5px;
            }
            &:hover {
              background-color: #e7e7e8;
              border-radius: 27px;
            }
          }
        }
      }
      .twitter_btn {
        background-color: #1d9bf0;
        width: 81%;
        text-align: center;
        outline: none;
        margin-bottom: 4px;
        margin-top: 4px;
        padding: 13px 20px 13px 20px;
        transition: all 0.5s;
        &:hover {
          background-color: #1a8cd8;
        }
        a {
          font-size: 14px;
          font-weight: 700;
          color: white;
        }
      }
    }
    .lower_part {
      .logout_add_account {
        width: 260px;
        top: -135px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px #494848;
        transition: all 0.2s;
        // visibility: hidden;
        transition: all 0.2s;
        nav {
          padding-top: 15px;
          a {
            padding: 14px 10px 14px 10px;
            &:hover {
              background-color: #f7f9f9;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }
        }
      }
      .user_info {
        width: 95%;
        padding: 10px 15px 10px 15px;
        margin: -13px 0px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
          background-color: #e7e7e8;
        }
      }
      height: 58px;
      .info {
        padding-left: 10px;
        h4 {
          font-size: 15px;
        }
        span {
          font-size: 10px;
          color: #75828d;
        }
      }
      .avatar {
        img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
      }
      .ellips {
        width: 15px;
      }
    }
  }
  .main-content {
    max-width: 990px;
    margin-left: 276px;
    width: 100%;
    .center_part {
      max-width: 598px;
      width: 100%;
      overflow-x: hidden;
      // background: orange;
      .post_tweet_area {
        padding: 0 10px;
        .heading_area {
          padding: 14px 0;
          h4 {
            font-size: 18px;
          }
          bottom {
            background: none;
            outline: none;
          }
        }
        .create_post {
          img {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            margin: 0px 20px 0px 0px;
          }
          .post_area {
            textarea {
              outline: none;
              resize: none;
              font-size: 20px;
              &::placeholder {
                font-size: 20px;
              }
            }
            .img_container {
              width: 100%;
              display: grid;
              grid-template-columns: auto auto;
              gap: 10px;

              .img {
                position: relative;
                span {
                  position: absolute;
                  left: 15px;
                  top: 15px;
                  background: #888;
                  border-radius: 50%;
                  height: 25px;
                  width: 25px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  i {
                    color: white;
                    pointer-events: none;
                  }
                }
              }
              img {
                width: 100%;
                border-radius: 15px;
                object-fit: cover;
                height: 100%;
              }
            }
          }
          .action {
            padding: 10px 0px;
            .attach_inp {
              label {
                i.fas.fa-image {
                  font-size: 18px;
                  color: $twitter-color;
                  cursor: pointer;
                }
              }
              input#postImage {
                display: none;
              }
            }
          }
          .createTweetBtn {
            background-color: #8ecdf8;
            padding: 10px 20px;
            border: none;
            border-radius: 21px;
            font-weight: 700;
            color: white;
          }
        }
      }
      .tweetContainer {
        .tweet.border-bottom {
          cursor: pointer;
          &:hover {
            background: rgb(241, 241, 241);
          }
          .user_avatar {
            .img {
              img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
              }
            }
          }
          .tweetBody {
            max-width: 516px;
            min-width: 236px;
            .tweet_header {
              .user_time {
                a.displayName {
                  font-size: 14px;
                  color: black;
                  font-weight: 600;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            .images {
              width: 100%;
              display: grid;
              grid-template-columns: auto auto;
              gap: 5px;
              img {
                width: 100%;
                border-radius: 15px;
                object-fit: cover;
                height: 100%;
              }
            }
          }
          .tweet_footer {
            max-width: 425px;
            min-width: 236px;
            height: 33px;
            width: 100%;
            .comment {
              svg {
                width: 27px;
                transition: 0.2s;
                border-radius: 50%;
                padding: 5px 5px;
              }
              span {
                transition: 0.2s;
              }
              &:hover {
                svg {
                  background: #e1eef6;
                  fill: #1d9bf0;
                }
                span {
                  color: #1d9bf0;
                }
              }
            }
            .retweet {
              svg {
                width: 27px;
                transition: 0.2s;
                border-radius: 50%;
                padding: 5px 5px;
              }
              span {
                transition: 0.2s;
              }
              &:hover {
                svg {
                  background: #def1eb;
                  fill: #00ba7c;
                }
                span {
                  color: #00ba7c;
                }
              }
            }
            .like {
              svg {
                width: 27px;
                transition: 0.2s;
                border-radius: 50%;
                padding: 5px 5px;
                pointer-events: none;
              }
              .active {
                fill: #f91880;
                background: #f7e0eb;
              }
              .like_count {
                color: #f91880;
              }
              span {
                transition: 0.2s;
                pointer-events: none;
              }
              &:hover {
                svg {
                  background: #f7e0eb;
                  fill: #f91880;
                }
                span {
                  color: #f91880;
                }
              }
            }
            .share {
              svg {
                width: 27px;
                transition: 0.2s;
                border-radius: 50%;
                padding: 5px 5px;
              }
              span {
                transition: 0.2s;
              }
              &:hover {
                svg {
                  background: #e1eef6;
                  fill: #54b2f2;
                }
                span {
                  color: #54b2f2;
                }
              }
            }
          }
        }
      }
    }

    .end_part {
      max-width: 350px;
      width: 100%;
      background: green;
    }
  }
}
