.middle_side {
  .top_searching_section {
    display: flex;
    padding: 15px;
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;
    border-bottom: 1px solid #2f3336;

    h4 {
      margin-left: 10px;
      color: #ced0d1;
    }
  }

  .search_heading_container {
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;
    padding: 30px 15px 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchBox {
      position: relative;
      display: flex;
      align-items: center;

      input#searchInput {
        width: 450px;
        height: 50px;
        border-radius: 28px;
        background: #202327;
        border: none;
        outline: none;
        color: #666c70;
        padding: 0px 15px 0px 50px;
        margin-left: -30px;
      }

      i.fas.fa-search {
        z-index: 1;
        color: #666c70;
        padding-left: 28px;
      }
    }

    .settings {
      button.setting_icon {
        transition: 0.5s;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &:hover {
          background: #202327;
        }
      }
    }
  }

  .searchTweetContainer {
    padding: 5px 10px;
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;

    div.spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;

      .spinner-border {
        color: #ced0d1;
      }
    }

    h5.searchTitle {
      text-align: center;
      color: #ced0d1;
      margin-top: 10px;
      letter-spacing: 1px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
    .pinPost {
      .pinPostFlag {
        margin-left: 20px;
        color: #71767b;

        i.fas.fa-thumbtack {
          font-size: 20px;
          margin-top: 5px;
          margin-right: 15px;
        }

        span {
          font-size: 18px;
        }
      }
    }

    p.retweetedHtml {
      margin-left: 35px;
      margin-top: 5px;
      color: #6a6f73;
      span {
        color: #6a6f73;

        &:hover {
          text-decoration: underline;
        }
      }

      i.fas.fa-retweet {
        color: #6a6f73;
      }

      a {
        color: #ced0d1;
      }
    }

    .tweet {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      border-bottom: 1px solid #2f3336;
      cursor: pointer;

      .avatar_area {
        .postedImg img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          img {
            width: 100%;
          }
        }
      }

      //tweet body
      .tweet_body {
        width: 100%;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          .headerItems {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a.displayName {
              color: #ced0d1;
              text-decoration: none;
              padding-right: 5px;

              &:hover {
                text-decoration: underline;
              }
            }

            .username {
              padding-right: 10px;
              color: #5e6266;
            }
            .date {
              color: #5e6266;
            }
          }

          div.dropleft {
            .postMore {
              cursor: pointer;
              height: 35px;
              width: 35px;
              color: #5e6266;
              background: transparent;
              transition: 0.5s;
              border-radius: 50%;

              i {
                pointer-events: none;
              }

              &:hover {
                background: #0a1720;
                color: #29a0f0;
              }
            }

            .dropdown-menu.show {
              background-color: #000;
              box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
                rgb(255 255 255 / 15%) 0px 0px 3px 1px;
              border-radius: 5px;

              a.dropdown-item {
                transition: 0.5s;

                &:hover {
                  background: #16181c;
                }

                button.removeBtn {
                  border: 0;
                  outline: 0;
                  background: transparent;
                  color: #dcdedf;

                  i.fas.fa-thumbtack.active {
                    color: #dcdedf;
                  }
                }
              }
            }
          }
        }

        .replyFlag {
          p {
            color: #5e6266;
            a {
              text-decoration: none;
              color: #ced0d1;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        //content
        .content {
          margin: 5px 0px 20px 0px;
          color: #ced0d1;
        }

        .images {
          display: grid;
          grid-template-columns: auto auto;
          width: 100%;
          gap: 10px;
          margin-bottom: 12px;

          .postImg {
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
        }

        //footer
        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0;

          button.replay {
            border: 0;
            outline: 0;
            background: transparent;
            color: #4d5053;
            transition: 0.5s;

            &:hover {
              color: #1a8ad6;
            }

            i {
              pointer-events: none;
            }

            span {
              pointer-events: none;
            }
          }

          button.retweet {
            border: 0;
            outline: 0;
            background: transparent;
            color: #4d5053;
            transition: 0.5s;

            &:hover {
              color: #019866;
            }

            i {
              pointer-events: none;
            }

            span {
              pointer-events: none;
            }
          }

          button.like {
            border: 0;
            outline: 0;
            background: transparent;
            color: #4d5053;
            transition: 0.5s;

            &:hover {
              color: #c21465;
            }

            i {
              pointer-events: none;
            }

            span {
              pointer-events: none;
            }
          }

          //like btn
          button.like.active {
            i {
              color: #c21465;
            }
            span {
              color: #c21465;
            }
          }

          //retweet btn
          button.retweet.active {
            i {
              color: #019866;
            }
            span {
              color: #019866;
            }
          }
        }
      }
    }
  }

  .userContainer {
    height: 100%;
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;

    .follow {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;

      .socialConnectivity {
        display: flex;

        .avatar {
          width: 50px;
          height: 50px;
          margin-left: 5px;

          img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            height: 100%;
          }
        }

        .displayName {
          margin-left: 10px;

          a {
            h5 {
              color: #eff3f4;
            }
          }

          span {
            color: #565a5e;
          }
        }
      }

      .followBtn {
        margin-right: 25px;

        button#followBtn {
          width: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 50px;
          padding: 5px 50px;
          border-radius: 28px;
          background: #eff3f4;
          border: 1px solid #eff3f4;
          color: #2f3336;
        }

        button#followBtn.follow.active {
          background: transparent;
          border: 1px solid #eff3f4;
          color: #eff3f4;
        }
      }
    }
  }
}
