.signup-section {
    background: linear-gradient(rgba(24, 23, 23, 0.4),
            rgba(32, 29, 29, 0.9)),
        url(../assets/signup.jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}


.wrapper {
    max-width: 500px;
    width: 70%;
    margin: 0 auto;
}

.signup-wrapper {
    background: #FFFFFF;
    padding: 22px 30px;
    border-radius: 6px;

    h2 {
        padding: 15px 0;
        font-weight: 600;
        text-align: center;
    }
}

.social-icon {
    text-align: center;
    font-size: 40px;
    color: #1D9BF0;
}

.signup-content {
    display: flex;

    div {
        margin-right: 10px;
    }
}

label {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 4px;
    color: #7A8791;
}

.form-control {
    border-bottom: 1px solid #272C30;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    outline: 0 !important;
    border-radius: 0;
}

.signup-btn {
    margin: 20px 0 0;
    background: #272C30;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #1D9BF0;
}

.error {
    color: #A52A2A;
    font-size: 13px;
    margin-bottom: 0 !important;
    // display: none;
}

.disclaim {
    color: #7A8791;
    font-size: 14px;
}

.avatar-input {
    background: rgb(82, 180, 245);
    border: 1px solid rgb(82, 180, 245);
    color: #FFFFFF;

}

// .form-control[type=file]:not(:disabled):not([readonly]) {
//     background: red;
// }